<div ng-controller="productsController">
	<div class="col-lg-3" id="left_side">
		<form>
		    <div class="form-group">
		      	<input type="text" class="form-control" ng-model="filter_name" placeholder="search...">
		    </div>
		    <h3>Add a new product</h3>
		    <div class="form-group">
		      	<label>Name: </label>
		      	<input type="text" class="form-control" ng-model="new_product.name" placeholder="Enter name">
		    </div>
		    <div class="form-group">
		      	<label>Image (url): </label>
		      	<input type="text" class="form-control" ng-model="new_product.img" placeholder="http://">
		    </div>
		    <div class="form-group">
		      	<label>Description: </label>
		      	<textarea class="form-control" ng-model="new_product.des"></textarea>
		    </div>
		    <div class="form-group">
		    	<label>Initial Quantity: </label>
		    	<input class="form-control" type="number" min="1" max="50" ng-model="new_product.qty">
		    </div>
		    <button type="submit" class="btn btn-default" ng-click="addProduct()">Create</button>
		</form>
	</div>
	<div id="right_side">
		<div class="col-lg-2" id="img" ng-repeat="product in products | filter: filter_name">
			<img ng-src="{{product.img}}" class="img-rounded" alt="Cinque Terre" width="190" height="140">
			<p><b>{{ product.name }}</b></p>
			<p><b>({{ product.qty }} left)</b></p>
		</div>
	</div>
</div>